{% extends "base.twig" %}

{% block content %}
  <section id="intro">
    <img src="{{TimberImage(post.get_field('header_image')).src|resize(1680, 466)}}" />
    <div class="container">
      <p>{{post.content}}</p>
    </div>
  </section>
	{% for section in sections %}
	  <section id="{{section.section_nav_title|sanitize}}" class="{{section.acf_fc_layout}}" {% if section.section_bg_color %} style="background-color:{{section.section_bg_color}};" {% endif %}>
      <div class="container"><h2>{{section.section_title}}</h2></div>
      {% if section.acf_fc_layout == 'normal' %}
        {% include 'section.twig' %}
      {% elseif section.acf_fc_layout == 'chapters' %}
        {% include 'section-chapters.twig' %}
      {% endif %}
	  </section>
  {% endfor %}
{% endblock %}