{% for chapter in section.section_chapters %}
  <section id="{{chapter.chapter_title|sanitize}}">
    {% for content in chapter.chapter_content %}
      <section class="{{content.acf_fc_layout}}">
        {% if content.acf_fc_layout == 'chapter_image_text' %}
          <header class="image-header">
            <div class="container">
              <img src="{{TimberImage(content.chapter_image).src|resize(1140, 200)}}" />
            </div>
          </header>
          <div class="container">
            <h3>{{chapter.chapter_title}}</h3>
            {{content.chapter_content}}
          </div>
        {% elseif content.acf_fc_layout == 'chapter_accent_text' %}
          <div class="container">
            {{content.chapter_content}}
          </div>
        {% endif %}
      </section>
    {% endfor %}
  </section>
{% endfor %}